body{
    background-color: gold;
    font-family: sans-serif;
}
h1{
    font-size: 4rem;
}
img{
    /* margin: 40px; */
    background-color: white;
}
.inspringen{
    margin-left: 40px;
}